{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">

    <div class="ui two column middle aligned grid basic segment">
        <div class="column">
            <p> Welcome to amazing Gym App ;)
                <br> <br> <b>ICT Skills Assignment</b>
                <br> <br> Sign up or Log in... using top right corner buttons.
                <br> <br> Student ID:<b> 20086512 </b>
                <br> <br> In order to login as a member use :
                <br> login : <b>homer@simpson.com</b>
                <br> password: <b>pass</b>
                <br> <br> To login as trainer use:
                <br> login : <b>marge@simpson.com</b>
                <br> password <b>pass</b>
            </p>


        </div>
        <div class="column">
            <img class="ui image" src="images/about.jpg">
        </div>
</section>
